name: Release

on:
    push:
        branches:
            - main
        paths-ignore:
            - "CHANGELOG.md"
            - "pyproject.toml"

jobs:
    release:
        runs-on: ubuntu-latest
        concurrency: release
        permissions:
            id-token: write
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  token: ${{ secrets.GH_TOKEN }}

            - name: Python Semantic Release
              uses: python-semantic-release/python-semantic-release@master
              with:
                  github_token: ${{ secrets.GH_TOKEN }}
                  pypi_token: ${{ secrets.PYPI_TOKEN }}
